body {
    background-color: #333333;
    color: #ffffff;
}

header {
    background-color: #444444;
    color: #ffffff;
}

#search-bar {
    border-color: #555555;
}

#search-button {
    background-color: #444444;
    color: #ffffff;
}

#search-button:hover {
    background-color: #222222;
}

#results-container {
    border-top-color: #555555;
}

input:checked + .slider {
    background-color: #656565;
}

/* Estilos añadidos de upload-pdf.css */
.container {
    border-color: #555;
}

.container button {
    background-color: #444444;
    color: white;
}

.container button:hover {
    background-color: #222222;
}

/* Estilos para el footer */
footer {
    background-color: #555555;
}

#upload-pdf-button {
    background-color: #444444;
    color: white;
}

#upload-pdf-button:hover {
    background-color: #222222;
}