body {
    font-family: Arial, sans-serif;
    margin: 50px;
}
.container {
    min-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
    text-align: center;
}
.container input[type="file"] {
    display: none;
}

.upload-box {
    display: block;
    width: 91%;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: #a5a5a5;
}
.upload-box:hover {
    border-color: #aaa;
    color: #333;
}
.container button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}